body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /*align-items: center;*/
}

a {
    text-decoration: none;
}

.nav-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    max-width: 1400px;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 8px;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
}

/* .hero-container {
    max-width: 1400px;
} */



.hero-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    height: 600px;
    max-width: 1400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.hero-left {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex-grow: 1;
}

.hero-right {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

.hero-image {
    display: flex;
    background-color: gray;
    height: 200px;
    width: 300px;
}